{% extends "base.html" %}

{% block head %}
{{ super() }}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}


{% block styles %}
{{super()}}

<style type="text/css">
	.btn{
	background: transparent;
	border-width: 0px;
	padding: 0px;
	margin:0px 5px;
	}
	.btn:hover{
		cursor: pointer;
	}
	.btn:hover > *{
		color: #369BF1;
	}
	.btn > *{
		color: #7B7E80;
	}

	.brand{
		justify-content: center;
		align-items: center;
	}
	.brand > * {
		font-weight: bold;
		font-size: 2.5vh;
		margin:50px;
	}
  #data_filter > label >input {
    font-size: 16px;
    padding: 2px;
    height: max-content;
    font-weight: initial;
  }
  .mycontainer{
    overflow-x: auto;
    flex:1;
    padding: 20px;
  }
/* The container */
.check_box_container {
  position: relative;
  width: max-content;
  align-self: center;
  padding: 5px;
}

/* Hide the browser's default checkbox */
.check_box_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


/* When the checkbox is checked, add a blue background */
.check_box_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_box_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_box_container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

</style>
{% endblock %}



{% block content %}
  <h1 style="text-align: center;">Activités</h1>

<div class="mycontainer">
  <a class="btn" href="/sep_admin/add/{{name}}">
    <div style="background-color: #619BCC;padding: 5px 8px;border-radius: 5px;color: white;margin: 5px">+ Ajouter</div>
  </a>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Les utilisateurs</th>
        <th>le nom</th>
        <th>la date</th>
        <th>l'heure</th>
        <th>les membres</th>
        <th>detailles</th>
        <th>ville</th>
        <th>Réserver au SEPiens</th>
      
      </tr>
    </thead>
    <tbody>

        {% for d in data %}
          <tr>
            <td style="display: flex;flex-direction: row;">
        			<a class="btn" href="/sep_admin/edit/{{name}}/{{d[1]}}">
        				<span class="material-icons-outlined">
        				edit
        				</span>
        			</a>
        			<a class="btn" href="/sep_admin/delete/{{name}}/{{d[1]}}">
        				<span class="material-icons-outlined">
        				delete
        				</span>
        			</a>
            </td>
            <td>{{d[0]}}<a href="/sep_admin/ActivityUsers/{{d[1]}}">  (voir)</a></td>
              {% for col in update(d) %}
              <td>
                {% if col==True and col!=1 %}
                  <label class="check_box_container">
                    <input type="checkbox" checked="checked" disabled>
                    <span class="checkmark"></span>
                  </label>
                {% elif col==False %}
                  <label class="check_box_container">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                  </label>
                {% else%}

                {{col}}

                {% endif %}
                </td>
              {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

    
{% endblock %}


{% block scripts %}
  {{super()}}
   <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    
      

    });
  </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}







