<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h2 style="font-weight: bold;">Bonjour,</h2>
	<h4>Vous êtes sur le point de créer votre compte sur l'application SEPanouir.</h4>
	<h4>Veuillez cliquer sur le lien ci-dessous pour valider cette demande :</h4>
	<a href="{{url}}">{{url}}</a>

	<h4><b>Attention :</b>votre compte n'est activé qu'après activation du lien ci-dessus. </h4>
	<h4>Un <b>code de vérification</b> unique est attribué à votre compte <b>{{email}}</b></h4>
	<h4><b>Code de vérification : {{code}}</b></h4>
	<hr>
	<h4>Ce code de vérification vous permet de réutiliser votre session en cas d'oubli du mot de passe. Nous vous recommandons de le conserver. Il sera affiché aussi sur votre profil utilisateur.</h4>
	<h4>Vous n’avez souscrit à aucune application, vous pouvez ignorer cet e-mail. Un autre utilisateur a peut-être indiqué votre adresse e-mail par erreur.</h4>
	<h4>Merci,</h4>
	<h4>L'équipe SEPanouir</h4>
</body>
</html>

<style type="text/css">
	*{
		font-family: sans-serif;
	}
	b{
		font-weight: bold;
	}

</style>

